<div class="weatherWidget">
    {% for location in ubicacion.locations %}
        <div class="location">
            <h3>{{location.name}}</h3>
            <a href="{{location.forecastUrl}}">
                <img src="{{location.iconUrl}}" alt="{{location.weather}}">
                {{location.weather}}, {{location.temp}}
            </a>
        </div>
    {% endfor %}
</div>