<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if showTests %}
            <link rel="stylesheet" href="/vendor/mocha.css">
        {% endif %}
        <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    </head>
    
    <body>
        
        <header> 
            <img src="img/erpsystem.png"> 
        </header>
        {% block body %}{% endblock %}
        
        
        {% if showTests %}
            
            {# Mocha DIV #}
            <div id="mocha"></div>
            
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>

            {# General Test#}
            <script src="/qa/tests-global.js"></script>
            
            {# If there is additional test to pass, insert here #}
            {% if pageTestScript%}
                <script src="{{ pageTestScript }}"></script>
            {% endif %}
            
            {# Run MOCHA #}
            <script>mocha.run();</script>
            
        {% endif %}
        
    </body>
    
</html>
