{% extends "layouts/main.html.twig" %}

{% block body %}

    <div>
        
        <p><b>ACERCA DE NOSOTROS</b></p>
        
        Hoy es {{ dias }}
        
        <a href="/contact">Contacto</a>
    </div>

{% endblock %}
