{% extends "layouts/main.html.twig" %}

{% block body %}

    <h1> Contacto </h1>

    <form>
        <input type="hidden" name="referrer">
        Nombre: <input type="text" id="fieldName" name="name"><br>
        Email: <input type="email" name="email"><br>
        Asunto: <input type="text" name="groupSize"><br>
        <input type="submit" value="Submit">
    </form>
    
    <script>
        $(document).ready(function () {
            $('input[name="referrer"]').val(document.referrer);
        });
    </script>

{% endblock %}
