{% extends "layouts/main.html.twig" %}

{% block body %}

    <div>
        
        <p><b>Esto es la pagina inicial</b></p>
        
    </div>
    
{% include 'partials/weather.html.twig' with  { ubicacion: 'ubicacion' } %}

{% endblock %}
