{% extends "layouts/main.html.twig" %}

{% block body %}
    
    <h1> Más Información </h1>
    
    <div>
        
        <a class="requestGroupRate" href="/contact">Pedir información</a>
        
    </div>

{% endblock %}